jmind/
data/
*.his
*.sym
*.mco
*.exe
*.class
uniencode.src
unidecode.src
sjmindc.src
sopecode.src
sstackmaptable.src
scompiler.src
sutf8rap.src
sfunctiontype.src
sdebug.src
utility/sbytecomposition.src
utility/sruntimefieldmanager.src
file/sfilereadwrite.src
file/sfileruntimefield.src
file/sfileopecode.src
file/sfilestackmaptable.src
file/sfilelocalvariable.src
runtimefield/sruntimefieldClass.src
runtimefield/sruntimefieldNameAndType.src
runtimefield/sruntimefieldMethod.src
runtimefield/sruntimefieldField.src
word/scwordcheck.src
word/sstring.src
word/sprint.src
word/sinspect_character.src
word/scalc.src
word/sinteger.src
word/scinteger.src
word/sloopcounter.src
word/scheck.src
word/sif.src
word/sloop.src
word/sothers.src
word/scomment.src
word/sinput.src
word/swordcheck.src