jmind/
data/
*.his
*.sym
*.mco
*.exe
*.class
uniencode.src
unidecode.src
sjmindc.src
sopecode.src
sstackmaptable.src
scompiler.src
sutf8rap.src
sfunctiontype.src
sequal_words.src
sdebug.src
utility/sbytecomposition.src
utility/sruntimefieldmanager.src
utility/sopecodecreater.src
file/sfilereadwrite.src
file/sfileruntimefield.src
file/sfileopecode.src
file/sfilestackmaptable.src
file/sfilelocalvariable.src
file/sfileloopoperate.src
runtimefield/sruntimefieldClass.src
runtimefield/sruntimefieldNameAndType.src
runtimefield/sruntimefieldMethod.src
runtimefield/sruntimefieldField.src
runtimefield/sruntimefieldIntegerUtility.src
word/scwordcheck.src
word/scchar.src
word/scstring.src
word/sstringoperate.src
word/sprint.src
word/sinspect_character.src
word/scalc.src
word/sinteger.src
word/scinteger.src
word/sloopcounter.src
word/scheck.src
word/sif.src
word/sloop.src
word/sstackoperate.src
word/sloopoperate.src
word/sothers.src
word/sinput.src
word/swordcheck.src